Repository rstudio/rstudio, pull requests merged in 2020-02, with the labels that each got.

#6139 Wrap around editor tabs by default
  src/cpp/session/resources/schema/user-prefs-schema.json
Labels: source editor

#6133 utility command to help search for available keyboard shortcuts
  src/gwt/src/org/rstudio/core/client/command/AppCommand.java
  src/gwt/src/org/rstudio/core/client/command/KeyMap.java
  src/gwt/src/org/rstudio/core/client/command/ShortcutManager.java
  src/gwt/src/org/rstudio/studio/client/application/events/WarningBarClosedEvent.java
  src/gwt/src/org/rstudio/studio/client/application/ui/ApplicationWindow.java
  src/gwt/src/org/rstudio/studio/client/application/ui/WarningBar.java
  src/gwt/src/org/rstudio/studio/client/server/remote/ClientEventDispatcher.java
  src/gwt/src/org/rstudio/studio/client/workbench/Workbench.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/ReportShortcutBindingEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/events/ShowWarningBarEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/events/ShowWarningBarHandler.java
  src/gwt/src/org/rstudio/studio/client/workbench/model/WarningBarMessage.java
Labels: developer, workbench

#6148 fix color of job status in dark mode
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobProgress.ui.xml
Labels: jobs

#6143 install dependencies with renv::install() in renv projects
  src/cpp/session/include/session/SessionModuleContext.hpp
  src/cpp/session/modules/SessionDependencies.cpp
  src/cpp/session/modules/SessionRenv.cpp
Labels: renv

#6156 fix for refresh when indexing complete; always run default tutorial on startup
  src/cpp/session/modules/SessionTutorial.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPresenter.java
Labels: tutorials

#6157 display full SHA in git history
  src/cpp/session/modules/SessionGit.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/dialog/CommitListTable.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/dialog/DiffFrame.java
Labels: vcs

#6158 don't bind cut / copy / paste commands on desktop
  src/cpp/desktop/DesktopWebView.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
Labels: desktop integration

#6159 remove fold check for background highlighter
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/AceBackgroundHighlighter.java
Labels: source editor

#6101 Check for write permissions before performing a global replace
  src/cpp/session/modules/SessionFind.cpp
  src/cpp/shared_core/FilePath.cpp
  src/cpp/shared_core/include/shared_core/FilePath.hpp
Labels: find in files

#6138 Exception in Find in Files dialog
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindOutputPresenter.java
Labels: find in files

#6151 Fix various columnOffset related DataViewer bugs
  src/cpp/session/modules/data/DataViewer.cpp
  src/cpp/session/resources/grid/datatables/js/jquery.dataTables.js
  src/cpp/session/resources/grid/datatables/js/jquery.dataTables.min.js
  src/cpp/session/resources/grid/dtviewer.js
Labels: data viewer

#6161 fix issues with modal dialogs and screen readers
  src/gwt/src/org/rstudio/core/client/ElementIds.java
  src/gwt/src/org/rstudio/core/client/a11y/A11y.java
  src/gwt/src/org/rstudio/core/client/widget/ModalDialogTracker.java
  src/gwt/src/org/rstudio/studio/client/common/satellite/SatelliteWindow.java
Labels: accessibility

#6169 Add API functions for getting user identity
  src/cpp/r/R/Api.R
  src/cpp/session/modules/RStudioAPI.cpp
Labels: rstudioapi

#6166 Set CRAN mirrors option to reflect user prefs
  src/cpp/session/CMakeLists.txt
  src/cpp/session/SessionMain.cpp
  src/cpp/session/modules/SessionCRANMirrors.cpp
  src/cpp/session/modules/SessionCRANMirrors.hpp
  src/cpp/session/modules/SessionPackages.cpp
Labels: user preferences

#6170 Add stop button within job output display
  NEWS-1.4.md
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobItem.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobProgress.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobProgress.ui.xml
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobResources.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobsPaneWidgets.java
Labels: jobs

#6174 Use random column name for relabeling in data viewer
  src/cpp/session/modules/SessionDataViewer.R
Labels: data viewer

#6171 user preference to control console output announcement limit
  src/cpp/session/include/session/prefs/UserPrefValues.hpp
  src/cpp/session/prefs/UserPrefValues.cpp
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/core/client/widget/NumericValueWidget.java
  src/gwt/src/org/rstudio/studio/client/common/shell/AriaLiveShellWidget.java
  src/gwt/src/org/rstudio/studio/client/common/shell/ShellWidget.java
  src/gwt/src/org/rstudio/studio/client/projects/ui/prefs/ProjectEditingPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefs.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/AccessibilityPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/EditingPreferencesPane.java
Labels: accessibility

#6175 optionally announce echoed prompt and command in console
  src/gwt/src/org/rstudio/studio/client/application/AriaLiveService.java
  src/gwt/src/org/rstudio/studio/client/common/shell/ShellWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/AccessibilityPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/Shell.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/ShellPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/common/ConsoleProgressWidget.java
Labels: accessibility

#6140 re-initialize Ctrl + C handler after Python initialized
  src/cpp/session/SessionMain.cpp
  src/cpp/session/SessionModuleContext.cpp
  src/cpp/session/include/session/SessionModuleContext.hpp
  src/cpp/session/modules/SessionReticulate.R
  src/cpp/session/modules/SessionReticulate.cpp
Labels: python

#6183 suppress macOS Catalina warning about old system bash
  src/cpp/session/SessionConsoleProcess.cpp
Labels: terminal

#6190 close main menu (server) and toolbar menus when keyboard shortcut used
  src/gwt/src/org/rstudio/core/client/command/BaseMenuBar.java
  src/gwt/src/org/rstudio/core/client/widget/ToolbarPopupMenu.java
Labels: accessibility

#6186 add Zsh as a supported terminal on Mac, Linux, and Server
  NEWS.md
  src/cpp/core/terminal/PrivateCommand.cpp
  src/cpp/r/R/Api.R
  src/cpp/session/SessionConsoleProcess.cpp
  src/cpp/session/include/session/SessionTerminalShell.hpp
  src/cpp/session/include/session/prefs/UserPrefValues.hpp
  src/cpp/session/modules/SessionTerminalShell.cpp
  src/cpp/session/modules/SessionTerminalShellTests.cpp
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/TerminalShellInfo.java
Labels: terminal

#6184 Emit change events for added/removed prefs
  src/cpp/session/prefs/Preferences.cpp
Labels: user preferences

#6195 Bug fix for 'Search these files' resetting to 'All Files'
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindInFilesDialog.java
Labels: find in files

#6187 Check env var for RStudio Server Pro user identity
  src/cpp/r/R/Api.R
  src/cpp/session/modules/RStudioAPI.cpp
Labels: rstudioapi

#6185 don't monitor renv / packrat libraries
  src/cpp/core/FileInfo.cpp
  src/cpp/core/include/core/FileInfo.hpp
  src/cpp/core/system/file_monitor/Win32FileMonitor.cpp
  src/cpp/session/include/session/prefs/UserPrefValues.hpp
  src/cpp/session/include/session/projects/SessionProjects.hpp
  src/cpp/session/prefs/UserPrefValues.cpp
  src/cpp/session/projects/SessionProjectContext.cpp
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
Labels: projects

#6200 stop embedding rstudioapi
  CMakeGlobals.txt
  dependencies/common/install-packages
  dependencies/common/install-packages.cmd
  src/cpp/session/resources/dependencies/r-packages.json
Labels: rstudioapi

#6199 fix failing R environment unit test
  src/cpp/tests/testthat/test-environment.R
Labels: automation, developer

#6205 Install Qt via shell script in Linux Docker containers
  dependencies/common/install-qt.sh
  dependencies/linux/install-qt-linux
  docker/jenkins/Dockerfile.bionic-amd64
  docker/jenkins/Dockerfile.centos7-x86_64
  docker/jenkins/Dockerfile.centos8-x86_64
  docker/jenkins/Dockerfile.debian9-x86_64
  docker/jenkins/Dockerfile.opensuse15-x86_64
  docker/jenkins/Dockerfile.xenial-amd64
Labels: builds, developer

#6209 cleanup bootstrapper scripts for Linux / Qt
  dependencies/linux/README
  dependencies/linux/install-dependencies-bionic
  dependencies/linux/install-dependencies-stretch
  dependencies/linux/install-dependencies-yum
  dependencies/linux/install-dependencies-zypper
  dependencies/linux/install-qt-sdk
Labels: builds, developer

#6217 Fix editor find / replace bar keyboard tab sequence
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/findreplace/FindReplaceBar.java
Labels: accessibility

#6218 fix warning about missing default
  src/cpp/session/resources/schema/user-prefs-schema.json
Labels: developer, logging

#6207 install tutorial dependencies before run
  src/cpp/session/modules/SessionCodeTools.R
  src/cpp/session/modules/SessionTutorial.R
Labels: tutorials

#6214 cleanup Windows boostrapping scripts and documentation regarding Qt install
  dependencies/linux/install-qt-sdk
  dependencies/windows/Install-RStudio-Prereqs.ps1
  dependencies/windows/README.md
  dependencies/windows/install-dependencies.cmd
  dependencies/windows/install-qt-sdk-win.cmd
  dependencies/windows/qt-noninteractive-install-win.qs
Labels: builds, developer

#6222 allow Tab key to move focus normally in Help pane secondary toolbar
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/HelpPane.java
Labels: accessibility

#6224 use relative tutorial run URI in link
  src/cpp/session/modules/SessionTutorial.cpp
Labels: tutorials

#6234 Migrate user state, including context identifier
  src/cpp/session/modules/SessionUserPrefsMigration.cpp
Labels: user preferences

#6238 Lock via option when installing packages in the background
  src/cpp/session/modules/SessionDependencies.cpp
Labels: r packages

#6235 Fix global replace on Windows
  src/cpp/session/modules/SessionFind.cpp
Labels: find in files

#6242 Bugfix/update static shortcuts reference page
  src/gwt/www/docs/keyboard.htm
Labels: accessibility

#6245 Replace more instances of String.CharAt with StringUtil.CharAt
  src/gwt/src/org/rstudio/studio/client/common/repos/SecondaryReposDialog.java
  src/gwt/src/org/rstudio/studio/client/common/rstudioapi/DialogHtmlSanitizer.java
  src/gwt/src/org/rstudio/studio/client/workbench/codesearch/CodeSearchOracle.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/CompletionManagerBase.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/RCompletionManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/AceEditor.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/common/diff/UnifiedParser.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/git/GitStatusRenderer.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/svn/SVNStatusRenderer.java
Labels: developer

#6249 adjust main menu shortcuts to fix conflicts
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/www/docs/keyboard.htm
Labels: accessibility

#6258 Fix issues with find in files and colons
  src/cpp/session/modules/SessionFind.cpp
  src/cpp/session/modules/SessionFindTests.cpp
Labels: find in files

#6259 avoid attempt to add same line widget twice
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/LineWidgetManager.java
Labels: ace

#6263 Add toggle for enabling/disabling directory view restrictions
  NEWS.md
  src/cpp/session/SessionModuleContext.cpp
  src/cpp/session/SessionOptions.cpp
  src/cpp/session/include/session/SessionOptions.hpp
Labels: session internals

#6264 overhaul display of Tutorial pane tutorials
  src/cpp/session/modules/SessionTutorial.cpp
  src/cpp/session/resources/tutorial_resources/index.html
  src/cpp/session/resources/tutorial_resources/rstudio-logo.png
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/ui/WorkbenchScreen.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPane.css
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPane.java
Labels: tutorials

#6262 Update Find in Files Package option
  src/cpp/session/modules/SessionFind.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindInFilesDialog.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindInFilesDialog.ui.xml
Labels: find in files

#6273 provide "Install learnr" link in Tutorial pane
  src/cpp/session/modules/SessionPackages.R
  src/cpp/session/modules/SessionTutorial.cpp
  src/cpp/session/resources/dependencies/r-packages.json
  src/gwt/src/org/rstudio/studio/client/server/remote/RemoteServer.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/packages/model/PackagesServerOperations.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPane.css
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPane.java
Labels: tutorials

#6275 Update Find in Files CSS so disabled elements will be obvious is desktop mode
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindInFilesDialog.ui.xml
Labels: find in files

#6277 When screen reader support enabled, reduce UI animations
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefs.java
Labels: accessibility

#6288 fix issue where console history scrolled on focus
  src/gwt/src/org/rstudio/studio/client/common/shell/ShellWidget.java
Labels: ace

#6284 revamp RStudio diagnostics script
  src/cpp/r/R/Diagnostics.R
  src/cpp/session/SessionModuleContext.cpp
Labels: diagnostics

#6276 Supply correct name of libxkbcommon-11 on SuSE
  package/linux/CMakeLists.txt
Labels: linux, packaging

#6286 ace patch fixing issue when scrolling to end
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/ace-uncompressed.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/ace.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/ext-language_tools-uncompressed.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/ext-language_tools.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/keybinding-emacs-uncompressed.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/keybinding-emacs.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/keybinding-sublime.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/keybinding-vim-uncompressed.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/keybinding-vim.js
  src/gwt/www/js/workers/worker-css.js
  src/gwt/www/js/workers/worker-html.js
  src/gwt/www/js/workers/worker-javascript.js
Labels: ace

#6289 Reload packages pane state after installing dependencies
  src/cpp/session/modules/SessionDependencies.cpp
  src/cpp/session/modules/jobs/AsyncRJobManager.cpp
  src/cpp/session/modules/jobs/AsyncRJobManager.hpp
  src/cpp/session/modules/jobs/ScriptJob.cpp
  src/cpp/session/modules/jobs/ScriptJob.hpp
Labels: packages pane

#6306 Add Edge to supported browser list
  src/gwt/www/unsupported_browser.htm
Labels: workbench

#6308 annotate console output element for easier screen-reader access
  src/gwt/src/org/rstudio/studio/client/common/shell/ShellWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/ShellPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/common/ConsoleProgressWidget.java
Labels: accessibility

#6312 tweak tutorial pane styles
  src/cpp/session/modules/SessionTutorial.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPane.css
Labels: tutorials

#6323 explicitly coerce NULL to empty string
  src/cpp/session/modules/SessionTutorial.R
Labels: tutorials

#6320 check user preference when displaying tooltip
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/r/SignatureToolTipManager.java
Labels: autocompletion

#6316 put back option to set global application role (a11y)
  src/cpp/session/include/session/prefs/UserPrefValues.hpp
  src/cpp/session/prefs/UserPrefValues.cpp
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/studio/client/application/Application.java
  src/gwt/src/org/rstudio/studio/client/common/satellite/SatelliteApplication.java
  src/gwt/src/org/rstudio/studio/client/htmlpreview/HTMLPreviewApplication.java
  src/gwt/src/org/rstudio/studio/client/plumber/PlumberAPISatellite.java
  src/gwt/src/org/rstudio/studio/client/rmarkdown/RmdOutputSatellite.java
  src/gwt/src/org/rstudio/studio/client/shiny/ShinyApplicationSatellite.java
  src/gwt/src/org/rstudio/studio/client/vcs/VCSApplication.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/AccessibilityPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceSatellite.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkSatellite.java
Labels: accessibility

#6335 apply visually hidden style in code during boot screen
  src/gwt/src/org/rstudio/studio/client/RStudio.java
Labels: desktop

#6321 Add FilePath unit tests for possible crash coniditions
  src/cpp/shared_core/FilePathTests.cpp
Labels: automation

#6337 don't re-fire mouse events with no main button
  src/cpp/desktop/DesktopPosixApplicationLaunch.cpp
Labels: desktop

#6338 fixes around handling of Shiny interrupts
  src/gwt/src/org/rstudio/studio/client/rmarkdown/ui/RmdOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/shiny/ShinyApplicationPresenter.java
  src/gwt/src/org/rstudio/studio/client/shiny/ShinyDisconnectNotifier.java
  src/gwt/src/org/rstudio/studio/client/shiny/ui/ShinyApplicationPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/viewer/ViewerPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/viewer/ViewerPresenter.java
Labels: shiny

#6341 new command for putting focus on the last chunk of console output
  src/gwt/src/org/rstudio/core/client/ConsoleOutputWriter.java
  src/gwt/src/org/rstudio/studio/client/common/shell/ShellDisplay.java
  src/gwt/src/org/rstudio/studio/client/common/shell/ShellWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/Shell.java
  src/gwt/www/docs/keyboard.htm
Labels: accessibility

#6319 fix typo in unquote invocation
  src/cpp/session/modules/SessionBreakpoints.R
  src/gwt/.gitignore
Labels: debugging

#6339 drop nulls in connection history db
  src/cpp/session/modules/connections/ConnectionHistory.cpp
Labels: connections

#6360 add links to accessibility support article in options and menu
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/AccessibilityPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/Help.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/HelpTab.java
Labels: accessibility

#6357 use main menu shortcuts more in line with Google Docs on Windows
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/www/docs/keyboard.htm
Labels: accessibility

#6358 Use an empty source template if none found
  src/cpp/session/modules/SessionSource.cpp
Labels: source editor

#6342 set content for tutorial loading page
  src/cpp/session/modules/SessionTutorial.cpp
  src/cpp/session/resources/tutorial_resources/loading.html
  src/gwt/src/org/rstudio/studio/client/workbench/views/tutorial/TutorialPane.java
Labels: tutorials

#6359 Render dataviewer cells with block elements
  src/cpp/session/resources/grid/dtviewer.js
Labels: data viewer

#6367 change toolbar and console output shortcuts on Windows and Linux
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/www/docs/keyboard.htm
Labels: accessibility
