Repository rstudio/rstudio, pull requests merged in 2020-06, with the labels that each got.

#7013 upgrade to latest xterm.js (4.6.0)
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/XTermNative.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/XTermWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/fit-uncompressed.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/fit.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/xterm.css
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/xterm.js
  src/gwt/tools/build-xterm
  src/gwt/tools/build-xterm-README.md
Labels: accessibility, terminal

#7041 create dependency script for Ubuntu 20 (focal)
  dependencies/linux/install-dependencies-focal
Labels: developer

#7011 add support for boost 1.73
  src/cpp/CMakeLists.txt
  src/cpp/core/system/PosixChildProcessTracker.cpp
  src/cpp/core/system/PosixOutputCapture.cpp
  src/cpp/core/system/PosixSystem.cpp
Labels: developer

#7052 move console-related preferences to their own pane
  NEWS.md
  src/cpp/session/SessionClientInit.cpp
  src/cpp/session/modules/SessionBreakpoints.cpp
  src/cpp/session/modules/SessionBreakpoints.hpp
  src/cpp/session/modules/SessionErrors.cpp
  src/gwt/src/org/rstudio/studio/client/common/debugging/ErrorManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/model/SessionInfo.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/ConsolePreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/EditingPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/GeneralPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PreferencesDialog.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PreferencesDialogResources.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/iconConsole.png
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/iconConsole.xcf
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/iconConsole_2x.png
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/iconConsole_2x.xcf
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
Labels: user preferences

#7058 fix first ESC key press being ignored
  NEWS-1.3.md
  src/gwt/src/org/rstudio/core/client/widget/MiniPopupPanel.java
Labels: bug, keyboard shortcuts, regression

#7061 accessibility improvements for main menu shortcut keys
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/www/docs/keyboard.htm
Labels: accessibility, keyboard shortcuts

#7064 Prevent Enter from leaking out of the Command Palette
  src/gwt/src/org/rstudio/studio/client/palette/ui/CommandPalette.java
Labels: command palette

#7053 Fix double-rendering of paged table header
  src/cpp/session/resources/pagedtable/pagedtable.css
  src/cpp/session/resources/pagedtable/pagedtable.js
Labels: notebooks

#7069 enable options dialog to show a single preference pane
  src/gwt/src/org/rstudio/core/client/prefs/PreferencesDialogBase.java
  src/gwt/src/org/rstudio/studio/client/projects/Projects.java
  src/gwt/src/org/rstudio/studio/client/projects/ui/prefs/ProjectPreferencesDialog.css
  src/gwt/src/org/rstudio/studio/client/projects/ui/prefs/ProjectPreferencesDialog.java
  src/gwt/src/org/rstudio/studio/client/projects/ui/prefs/ProjectPreferencesDialogResources.java
  src/gwt/src/org/rstudio/studio/client/rsconnect/ui/RSAccountConnector.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PreferencesDialog.css
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PreferencesDialog.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PreferencesDialogResources.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/OptionsLoader.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/WorkbenchScreen.java
Labels: accessibility, user preferences

#7076 Fix bug where rmd files were not properly initialized
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTargetChunks.java
Labels: r markdown

#7007 value returned by showMessageBox is a number, not string
  CMakeGlobals.txt
  src/gwt/src/org/rstudio/studio/client/application/DesktopFrame.java
  src/gwt/src/org/rstudio/studio/client/common/dialog/DesktopDialogBuilderFactory.java
Labels: desktop

#7097 require system libclang on macOS
  src/cpp/core/libclang/LibClang.cpp
Labels: autocompletion

#7114 Don't log wrong_protocol_type (EPROTOTYPE) when handling write errors
  src/cpp/core/include/core/http/AsyncConnectionImpl.hpp
  src/cpp/core/include/core/http/SocketUtils.hpp
Labels: developer

#7109 fix various accessibility issues in Visual Editor dialogs
  src/gwt/src/org/rstudio/core/client/ElementIds.java
  src/gwt/src/org/rstudio/core/client/widget/ModalDialogBase.java
  src/gwt/src/org/rstudio/core/client/widget/NumericTextBox.java
  src/gwt/src/org/rstudio/core/client/widget/SelectWidget.java
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorEditAttrWidget.java
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorEditAttrWidget.ui.xml
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorEditCodeBlockDialog.java
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorEditImageDialog.java
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorEditLinkDialog.java
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorEditListDialog.java
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorEditListDialog.ui.xml
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorEditRawDialog.java
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorEditRawDialog.ui.xml
  src/gwt/src/org/rstudio/studio/client/panmirror/dialogs/PanmirrorHRefSelect.java
Labels: accessibility, visual markdown editing

#7123 Fix perpetually busy Git-Bash terminal on Windows
  src/cpp/session/SessionConsoleProcess.cpp
  src/cpp/session/SessionConsoleProcessInfoTests.cpp
  src/cpp/session/include/session/SessionConsoleProcessInfo.hpp
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/TerminalInfoDialog.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/TerminalList.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/TerminalSession.java
Labels: terminal, windows

#7119 Allow focus stealing for new tabs
  src/gwt/src/org/rstudio/core/client/theme/DocTabLayoutPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourcePane.java
Labels: source editor

#7121 Tolerate missing secondary repos in user prefs
  src/gwt/src/org/rstudio/studio/client/common/mirrors/model/CRANMirror.java
Labels: user preferences

#7118 Use help server unless R is exactly 4.0.0
  src/cpp/r/RUtil.cpp
  src/cpp/r/include/r/RUtil.hpp
  src/cpp/session/SessionModuleContext.cpp
Labels: session internals

#7079 Allow multiple source columns in main window
  src/cpp/session/include/session/prefs/UserPrefValues.hpp
  src/cpp/session/prefs/UserPrefValues.cpp
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/core/client/theme/DocTabLayoutPanel.java
  src/gwt/src/org/rstudio/studio/client/RStudioGinjector.java
  src/gwt/src/org/rstudio/studio/client/application/DesktopHooks.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PaneLayoutPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PreferencesDialogResources.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/iconAddSourcePane.png
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/iconAddSourcePane_2x.png
  src/gwt/src/org/rstudio/studio/client/workbench/ui/MainSplitPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneConfig.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/WorkbenchScreen.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourcePane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceSatelliteWindow.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceVimCommands.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceWindowManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/codebrowser/CodeBrowserEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/data/DataEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/explorer/ObjectExplorerEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/profiler/ProfilerEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/events/EditingTargetSelectedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/urlcontent/UrlContentEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/events/DocWindowChangedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/events/LastSourceDocClosedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/events/PopoutDocEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/events/SourceDocAddedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/model/DocTabDragParams.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/model/SourceDocument.java
Labels: workbench

#7051 Ensure toolbar updates when changing YAML to notebook
  src/cpp/session/modules/rmarkdown/SessionRMarkdown.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTargetWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/model/SourceDocument.java
Labels: source editor

#7140 Target active column with commands
  src/gwt/src/org/rstudio/studio/client/workbench/ui/MainSplitPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: workbench

#7148 UX refinements for the Command Palette
  src/gwt/src/org/rstudio/studio/client/palette/AppCommandPaletteItem.java
  src/gwt/src/org/rstudio/studio/client/palette/RAddinPaletteItem.java
  src/gwt/src/org/rstudio/studio/client/palette/UserPrefPaletteItem.java
  src/gwt/src/org/rstudio/studio/client/palette/model/CommandPaletteItem.java
  src/gwt/src/org/rstudio/studio/client/palette/ui/CommandPalette.ui.xml
  src/gwt/src/org/rstudio/studio/client/palette/ui/CommandPaletteEntry.java
  src/gwt/src/org/rstudio/studio/client/palette/ui/CommandPaletteEntry.ui.xml
  src/gwt/src/org/rstudio/studio/client/palette/ui/RAddinCommandPaletteEntry.java
  src/gwt/src/org/rstudio/studio/client/palette/ui/UserPrefBooleanPaletteEntry.java
  src/gwt/src/org/rstudio/studio/client/palette/ui/plugin.png
  src/gwt/src/org/rstudio/studio/client/panmirror/command/PanmirrorCommandPaletteItem.java
Labels: command palette

#7151 Source Pane visibility behavior
  src/gwt/src/org/rstudio/studio/client/RStudioGinjector.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourcePane.java
Labels: workbench

#7153 avoid readChar warnings when generating HTML notebook
  src/cpp/session/modules/SessionRmdNotebook.R
Labels: notebooks

#7168 Jiggle z-index of theme preview to force paint
  src/gwt/src/org/rstudio/core/client/prefs/PreferencesDialogPaneBase.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/AppearancePreferencesPane.java
Labels: qtwebengine

#7176 Fix issue preventing some documents from being visible when opened
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
Labels: workbench

#7170 remove remaining hardcoded Rmd extended types
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTargetRMarkdownHelper.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTargetWidget.java
Labels: source editor

#7174 normalize hyphen keycode used by Firefox
  src/gwt/src/org/rstudio/core/client/command/KeyCombination.java
  src/gwt/src/org/rstudio/core/client/command/KeyboardHelper.java
Labels: keyboard shortcuts

#7187 Remove the hidden tab set from the panes list
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: terminal

#7194 Add Apple Event Entitlement to enable knitting to word
  package/osx/entitlements.plist
Labels: macos

#7204 tweaks for request handling on Windows w/help server
  src/cpp/session/SessionModuleContext.cpp
  src/cpp/session/modules/SessionHelp.cpp
Labels: r interface

#7173 further refine Python execution semantics
  src/cpp/session/SessionConsoleInput.cpp
  src/cpp/session/resources/dependencies/r-packages.json
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/EditingTargetCodeExecution.java
Labels: python

#7214 disable paren token merging
  src/gwt/acesupport/acemode/r_highlight_rules.js
  src/gwt/acesupport/acemode/rainbow_paren_highlight_rules.js
  src/gwt/acesupport/acemode/token_cursor.js
Labels: ace

#7226 Use a transform instead of z-index to invalidate preview
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/AppearancePreferencesPane.java
Labels: qtwebengine

#7224 fix dropdowns that don't repopulate when closed via keyboard shortcut
  NEWS-1.3.md
  src/gwt/src/org/rstudio/core/client/widget/ToolbarPopupMenu.java
Labels: keyboard shortcuts

#7216 don't read un-needed library files
  src/cpp/session/modules/SessionRmdNotebook.R
Labels: notebooks

#7233 update to xterm.js 4.7.0
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/xterm.js
  src/gwt/tools/build-xterm
Labels: terminal

#7232 check for nullptr in isCallToNSEFunction
  src/cpp/r/RSexp.cpp
Labels: r interface

#7234 use Double rather than Integer to avoid GWT cast issues
  src/gwt/src/org/rstudio/studio/client/dataviewer/DataTable.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/data/DataEditingTargetWidget.java
Labels: data viewer

#7249 convert some xterm.js support code from jsni to jsinterop
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/TerminalInfoDialog.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/XTermDimensions.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/XTermNative.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/XTermOptions.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/XTermTheme.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/XTermWidget.java
Labels: developer, terminal

#7245 New plumber tags `svg` and `plumber`
  src/cpp/session/modules/SessionRCompletions.R
Labels: enhancement, plumber
