Repository rstudio/rstudio, pull requests merged in 2020-10, with the labels that each got.

#7916 annotate inotify errors with better message
  src/cpp/core/system/file_monitor/LinuxFileMonitor.cpp
  src/cpp/shared_core/Error.cpp
  src/cpp/shared_core/include/shared_core/Error.hpp
Labels: logging

#7943 New plumber tag `parser`
  src/cpp/session/modules/SessionRCompletions.R
Labels: plumber

#7931 Hide selected word outline when not focused
  src/gwt/panmirror/src/editor/src/optional/ace/ace.css
Labels: visual markdown editing

#7933 fix insertion of ':' when completion popup showing w/AZERTY keyboards
  NEWS.md
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/RCompletionManager.java
Labels: source editor

#7944 Ensure line widget for toolbar in source mode always has a host
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/rmd/ChunkContextCodeUi.java
Labels: visual markdown editing

#7951 Fix height for html chunk callbacks
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputGallery.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputStream.java
Labels: rstudioapi

#7966 properly handle missingness of arguments
  src/cpp/r/R/Api.R
Labels: rstudioapi

#7968 fix navigation of console history with arrow keys
  src/gwt/src/org/rstudio/studio/client/common/CommandLineHistory.java
Labels: console

#7998 Remove public facing use of "quadrants"
  src/gwt/src/org/rstudio/core/client/ClassIds.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PaneLayoutPreferencesPane.java
Labels: workbench

#8003 disable JS / CSS diagnostics by default
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
Labels: diagnostics

#8000 fix svn commit message encoding issue
  src/cpp/session/modules/SessionSVN.cpp
Labels: vcs, windows

#8014 allow R completion manager in inline R code chunks
  src/gwt/acesupport/acemode/rmarkdown.js
  src/gwt/acesupport/acemode/rmarkdown_highlight_rules.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/DelegatingCompletionManager.java
Labels: autocompletion

#8004 infer appropriate encoding when reading HTML help documentation
  src/cpp/session/modules/SessionHelp.R
Labels: autocompletion

#8009 update detect changes cache when reading environment state
  src/cpp/session/modules/SessionReticulate.R
Labels: python

#7982 make it possible to interrupt readLines(stdin())
  NEWS.md
  src/cpp/r/RExec.cpp
  src/cpp/r/include/r/RExec.hpp
  src/cpp/r/session/RStdCallbacks.cpp
  src/cpp/session/http/SessionHttpConnectionUtils.cpp
  src/gwt/src/org/rstudio/studio/client/application/ApplicationInterrupt.java
  src/gwt/src/org/rstudio/studio/client/application/model/ApplicationServerOperations.java
  src/gwt/src/org/rstudio/studio/client/server/remote/RemoteServer.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/connections/ui/NewConnectionInstallOdbcHost.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/model/ConsoleServerOperations.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/Shell.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/dataimport/model/DataImportServerOperations.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/common/ConsoleProgressDialog.java
Labels: session internals

#8015 Fix layout of Subversion diff viewer secondary toolbar
  NEWS.md
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/svn/dialog/SVNReviewPanel.css
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/svn/dialog/SVNReviewPanel.java
Labels: vcs

#8002 properly resolve sourcerefs for bytecode contexts
  src/cpp/r/RCntxt.cpp
  src/cpp/r/include/r/RCntxt.hpp
  src/cpp/session/modules/SessionEnvironment.R
  src/cpp/session/modules/environment/SessionEnvironment.cpp
Labels: debugging, session internals

#7994 Open source doc in new column
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/openSourceDocNewColumn.png
  src/gwt/src/org/rstudio/studio/client/workbench/commands/openSourceDocNewColumn_2x.png
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: source editor, workbench

#8020 tweaks + fixes for autocompletion
  src/cpp/session/modules/SessionRCompletions.R
  src/gwt/src/org/rstudio/core/client/RegexUtil.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/CompletionRequester.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/RCompletionManager.java
Labels: autocompletion

#8049 handle '\' continuations in help, completions
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/PythonCompletionManager.java
Labels: python

#8053 reset prompt on session restart
  src/gwt/src/org/rstudio/studio/client/application/ApplicationQuit.java
  src/gwt/src/org/rstudio/studio/client/workbench/model/SessionInfo.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/Shell.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/EnvironmentPane.java
Labels: python

#8055 Always adapt to extended type when not autosaving
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
Labels: autosave, source editor

#8057 ensure nice title given to viewed DataFrames
  src/cpp/session/modules/SessionReticulate.R
Labels: python

#8061 defer setting of global mouse selection
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/AceEditorMixins.java
Labels: desktop integration, linux

#8068 Update package versions for new rmarkdown
  src/cpp/session/resources/dependencies/r-packages.json
Labels: r markdown

#8066 avoid defining View function in Python main module
  src/cpp/session/modules/SessionReticulate.R
Labels: python

#8064 allow digits after rcpp / cpp engine name
  src/gwt/acesupport/acemode/rmarkdown_highlight_rules.js
Labels: c++

#8056 Forward scrolling from chunk callback to editor
  src/gwt/src/org/rstudio/core/client/dom/DomUtils.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputGallery.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputStream.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/rmd/TextEditingTargetNotebook.java
Labels: notebooks

#8081 properly extract symbol names from quoted symbols
  src/cpp/session/modules/SessionDiagnosticsTests.cpp
  src/cpp/session/modules/SessionRParser.cpp
  src/cpp/session/modules/SessionRParser.hpp
Labels: diagnostics

#8095 Fix 'Close All Except Current' command
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: source editor

#8059 set abend flag before running R
  src/cpp/session/SessionMain.cpp
Labels: session internals

#8084 attempt to reload Viewer page on refresh
  src/gwt/src/org/rstudio/studio/client/workbench/views/viewer/ViewerPane.java
Labels: viewer pane

#8093 Fix chunk highlighting issue
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/AceBackgroundHighlighter.java
Labels: r markdown, workbench

#8110 fix-up autocompletion + help regressions from recent PR
  src/cpp/session/modules/SessionHelp.R
  src/cpp/session/modules/SessionRCompletions.R
Labels: autocompletion

#8109 Fix issues with Save All command
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: source editor

#8112 hardcode location for POSTGRES librarys on macOS
  src/cpp/CMakeLists.txt
Labels: developer

#8114 Windows: Reset active column after document pop-out
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: workbench

#8143 Unsync source column count
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: workbench

#8125 avoid partial matches when accessing front matter
  src/cpp/session/modules/SessionCodeTools.R
Labels: r markdown

#8158 Fix cross-device global replace
  src/cpp/session/modules/SessionFind.cpp
Labels: find in files

#8089 use Ctrl + D to send EOF when readLines active
  NEWS.md
  src/cpp/r/RCntxt.cpp
  src/cpp/r/RCntxtUtils.cpp
  src/cpp/r/include/r/RCntxt.hpp
  src/cpp/r/include/r/RCntxtInterface.hpp
  src/cpp/r/include/r/RIntCntxt.hpp
  src/cpp/r/include/r/RInterface.hpp
  src/cpp/r/include/r/session/RSession.hpp
  src/cpp/r/session/RStdCallbacks.cpp
  src/cpp/session/SessionConsoleInput.cpp
  src/cpp/session/SessionConsoleInput.hpp
  src/cpp/session/http/SessionHttpConnectionUtils.cpp
  src/cpp/session/modules/SessionConsole.hpp
  src/gwt/src/org/rstudio/studio/client/server/remote/RemoteServer.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/events/ConsoleInputEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/model/ConsoleServerOperations.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/Shell.java
Labels: session internals

#8144 Synchronize scope tree after setting canonical source
  src/gwt/panmirror/src/editor/src/editor/editor.ts
  src/gwt/src/org/rstudio/studio/client/panmirror/PanmirrorSetMarkdownResult.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/visualmode/VisualMode.java
Labels: visual markdown editing

#8162 check that we didn't step off row when building range for multiline expr
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/AceEditor.java
Labels: ace

#8166 handle rainbow paren tokens in C++ outdent
  src/gwt/acesupport/acemode/c_cpp_matching_brace_outdent.js
Labels: ace, c++

#8168 require restart after changing spelling language
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/SpellingPreferencesPane.java
Labels: spellcheck

#8180 adapt to change in rs_jumpToFunction signature
  src/cpp/session/modules/SessionDataViewer.R
Labels: r interface

#8195 properly convert line ending pref on read
  src/gwt/src/org/rstudio/studio/client/projects/ui/prefs/ProjectEditingPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/ProjectPrefs.java
Labels: user preferences

#8194 Fix issues with chunk highlighting with multiple columns
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/AceBackgroundHighlighter.java
Labels: r markdown, source editor

#8197 default to RStudio PDF viewer on macOS
  src/cpp/session/prefs/UserPrefsComputedLayer.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefUtils.java
Labels: user preferences

#8193 unset isSaving_ flag on save cancel
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
Labels: desktop integration

#8202 handle state arrays in getState() method
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/EditSession.java
  src/gwt/test/test-multiline-expr.R
Labels: ace

#8205 fix issue with removal of connection entry
  src/cpp/session/modules/connections/ConnectionHistory.cpp
Labels: connections

#8217 Add null check to prevent overwriting file with 'NULL'
  src/cpp/session/modules/SessionEnvironment.R
Labels: console

#8219 update format list after loading visual mode
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
Labels: r markdown

#8177 Hide cursor position in visual mode
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/status/StatusBar.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/status/StatusBarWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/visualmode/VisualMode.java
Labels: visual markdown editing

#8146 avoid setting empty value for default directory locations
  src/gwt/src/org/rstudio/studio/client/projects/ui/newproject/NewDirectoryPage.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/GeneralPreferencesPane.java
Labels: user preferences

#8224 pull over small script tweaks from Qt 5.15 work
  dependencies/common/install-qt.sh
  dependencies/osx/install-qt-macos
Labels: builds

#8239 Check saved cache for notebook output
  src/cpp/session/modules/rmarkdown/NotebookOutput.cpp
Labels: notebooks, visual markdown editing

#8234 move Focus Terminal keyboard shortcut reference under Terminal group
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
Labels: documentation

#8238 fix issue with multiple blinking Ace cursors
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/ace-uncompressed.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/ace.js
Labels: ace

#8232 always enable save commands for new source docs
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
Labels: source editor

#8247 Activate the active source column with activateSource()
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
Labels: source editor, workbench

#8226 handle UTF-8 paths when opening projects via API
  src/cpp/core/r_util/RProjectFile.cpp
  src/cpp/r/R/Api.R
  src/cpp/session/projects/SessionProjects.cpp
Labels: encoding

#8251 Fix issues with global replace on long lines
  src/cpp/session/modules/SessionFind.cpp
Labels: find in files

#8252 Handle multibyte characters in long global replace previews
  src/cpp/session/modules/SessionFind.cpp
Labels: find in files
