Repository rstudio/rstudio, pull requests merged in 2020-09, with the labels that each got.

#7663 Update `plumber.swagger.url` option to `plumber.docs.callback`
  src/cpp/session/modules/SessionPlumberViewer.R
  src/cpp/session/modules/SessionPlumberViewer.cpp
Labels: plumber

#7679 Add commands for showing each Global Options pane directly
  NEWS.md
  src/gwt/src/org/rstudio/studio/client/application/Application.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PreferencesDialog.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/WorkbenchScreen.java
Labels: command palette

#7701 Fix issue with column buttons
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTargetWidget.java
Labels: source editor

#7694 Fix console handling of a carriage-return / partial overwrite scenario
  src/gwt/src/org/rstudio/core/client/VirtualConsole.java
  src/gwt/test/org/rstudio/core/client/VirtualConsoleTests.java
Labels: console

#7662 Add valgrind supression file with false positives
  src/tools/valgrind-suppressions
Labels: developer

#7710 avoid unintentional IDE restarts
  src/gwt/src/org/rstudio/studio/client/projects/ui/prefs/ProjectPythonPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PythonInterpreter.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PythonPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PythonPreferencesPaneBase.java
Labels: python

#7727 Fix issue where multiple data viewers were displayed for one object
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: workbench

#7726 set default -j value lower on Mac for local docker builds
  docker/docker-compile.sh
Labels: developer

#7731 Update to NSIS 3.06.1
  docker/jenkins/Dockerfile.windows
Labels: windows

#7711 Add a fallback to the install path for dev Desktop Launches
  src/cpp/desktop/DesktopMain.cpp
Labels: desktop, developer

#7743 minor mechanical cleanup of some find-in-files Java sources
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindInFilesDialog.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindOutputCodec.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindOutputPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindResultContext.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/events/FindInFilesEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/events/ReplaceProgressEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/model/FindResult.java
Labels: developer

#7750 added gwt build-time check for menu access keys
  src/gwt/src/org/rstudio/core/rebind/command/CommandBundleGenerator.java
  src/gwt/src/org/rstudio/core/rebind/command/MenuEmitter.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
Labels: accessibility, developer

#7758 support use of RdMacros in preview
  NEWS.md
  src/cpp/core/include/core/r_util/RPackageInfo.hpp
  src/cpp/core/r_util/RPackageInfo.cpp
  src/cpp/session/modules/SessionHelp.cpp
Labels: help pane

#7760 fix unit test hang analysis on macOS
  dependencies/osx/install-dependencies-osx
  src/cpp/rstudio-tests.in
Labels: automation, developer

#7756 Remove source code for unused Tests tab
  src/cpp/session/SessionClientEvent.cpp
  src/cpp/session/include/session/worker_safe/session/SessionClientEvent.hpp
  src/gwt/src/org/rstudio/studio/client/RStudioGinModule.java
  src/gwt/src/org/rstudio/studio/client/server/remote/ClientEvent.java
  src/gwt/src/org/rstudio/studio/client/server/remote/ClientEventDispatcher.java
  src/gwt/src/org/rstudio/studio/client/tests/events/TestsCompletedEvent.java
  src/gwt/src/org/rstudio/studio/client/tests/events/TestsOutputEvent.java
  src/gwt/src/org/rstudio/studio/client/tests/events/TestsStartedEvent.java
  src/gwt/src/org/rstudio/studio/client/tests/model/TestsResult.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/ConsoleTabPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/tests/TestsOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/tests/TestsOutputTab.java
Labels: developer

#7755 Add commands for showing all panes
  src/gwt/src/org/rstudio/studio/client/application/Application.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/compilepdf/CompilePdfOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/compilepdf/CompilePdfOutputTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/data/DataOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/data/DataOutputTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/markers/MarkersOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/markers/MarkersOutputTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/renderrmd/RenderRmdOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/renderrmd/RenderRmdOutputTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/rsconnectdeploy/RSConnectDeployOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/rsconnectdeploy/RSConnectDeployOutputTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/sourcecpp/SourceCppOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/sourcecpp/SourceCppOutputTab.java
Labels: accessibility, workbench

#7766 mask user input if prompt contains 'password'
  NEWS.md
  src/gwt/src/org/rstudio/studio/client/common/vcs/AskPassManager.java
Labels: rstudioapi

#7765 auto-complete virtual environment names
  NEWS.md
  src/cpp/session/modules/SessionRCompletions.R
Labels: python

#7774 gitignore default vscode output dir, remove some unused vars
  src/cpp/.gitignore
  src/cpp/session/SessionConsoleProcessInfoTests.cpp
Labels: developer

#7775 enable all unit tests for macOS build
  Jenkinsfile
  Jenkinsfile.macos
Labels: builds

#7781 Install openssl on macOS via dependency script
  dependencies/osx/install-dependencies-osx
Labels: developer

#7777 Fix jdk11 deprecation warnings
  src/gwt/src/org/rstudio/core/client/StringUtil.java
  src/gwt/src/org/rstudio/core/client/files/FileSystemItem.java
  src/gwt/src/org/rstudio/core/client/resources/ImageResource2x.java
  src/gwt/src/org/rstudio/core/client/resources/ImageResourceUrl.java
  src/gwt/src/org/rstudio/core/client/widget/SelectWidget.java
  src/gwt/src/org/rstudio/studio/client/application/model/HttpLogEntry.java
  src/gwt/src/org/rstudio/studio/client/common/debugging/ui/ConsoleErrorFrame.java
  src/gwt/src/org/rstudio/studio/client/htmlpreview/ui/HTMLPreviewProgressDialog.java
  src/gwt/src/org/rstudio/studio/client/server/remote/RemoteServerAuth.java
  src/gwt/src/org/rstudio/studio/client/workbench/model/QuotaStatus.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/EnvironmentObjectGrid.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/EnvironmentObjects.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/RObjectEntrySort.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/files/ui/FilesList.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/history/History.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/history/model/HistoryEntry.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/Plots.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
Labels: developer

#7784 cleanup additional legacy state
  scripts/clean-rstudio
  scripts/clean-rstudio.bat
Labels: developer

#7782 look for versioned python interpreters (e.g. pythonx.y) on PATH
  src/cpp/session/modules/SessionPythonEnvironments.R
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/python/PythonInterpreterSelectionDialog.java
Labels: python

#7789 re-disable rsession-based unit tests for macOS build
  Jenkinsfile.macos
Labels: developer

#7796 Fix issue with zoom column commands
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/ui/MainSplitPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: workbench

#7790 Navigate inside visual source editor if available
  src/gwt/panmirror/src/editor/src/api/ui.ts
  src/gwt/panmirror/src/editor/src/optional/ace/ace.ts
  src/gwt/src/org/rstudio/studio/client/panmirror/ui/PanmirrorUIChunkCallbacks.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/visualmode/VisualModeChunk.java
Labels: visual markdown editing

#7804 Disable virtual scrolling when screen reader mode toggled on
  src/gwt/src/org/rstudio/core/client/ConsoleOutputWriter.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefs.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/Shell.java
Labels: accessibility, console

#7693 Chunk grading
  src/cpp/r/R/Api.R
  src/cpp/session/modules/SessionRmdNotebook.R
  src/cpp/session/modules/rmarkdown/NotebookAlternateEngines.cpp
  src/cpp/session/modules/rmarkdown/NotebookAlternateEngines.hpp
  src/cpp/session/modules/rmarkdown/NotebookExec.cpp
  src/cpp/session/modules/rmarkdown/NotebookExec.hpp
  src/cpp/session/modules/rmarkdown/NotebookQueue.cpp
  src/cpp/session/modules/rmarkdown/SessionExecuteChunkOperation.hpp
  src/cpp/session/modules/rmarkdown/SessionRmdNotebook.cpp
  src/cpp/session/modules/rmarkdown/SessionRmdNotebook.hpp
  src/gwt/src/org/rstudio/core/client/dom/DomUtils.java
  src/gwt/src/org/rstudio/studio/client/rmarkdown/events/RmdChunkOutputFinishedEvent.java
  src/gwt/src/org/rstudio/studio/client/rmarkdown/model/RmdChunkOutputUnit.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputGallery.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputStream.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/rmd/ChunkOutputUi.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/rmd/TextEditingTargetNotebook.java
Labels: rstudioapi

#7798 Improve responsiveness in complex documents in the visual editor
  src/gwt/panmirror/src/editor/src/optional/ace/ace-render-queue.ts
  src/gwt/panmirror/src/editor/src/optional/ace/ace.ts
Labels: visual markdown editing

#7817 remove grep color encodings when contents is not encoded
  src/cpp/session/modules/SessionFind.cpp
Labels: bug, find in files

#7825 remove Czech and DE_new from dictionary blacklist
  src/gwt/src/org/rstudio/studio/client/common/spelling/TypoSpellChecker.java
Labels: spellcheck

#7826 set DEVELOPER_DIR when retrieving diagnostics
  NEWS.md
  src/cpp/core/libclang/SourceIndex.cpp
Labels: autocompletion, c++

#7828 Fix broken CSV import preview
  src/cpp/session/modules/data/SessionData.cpp
Labels: data import

#7829 Prevent terminal line spacing from going below 1.0
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/XTermTheme.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/xterm.js
  src/gwt/tools/build-xterm
Labels: terminal

#7831 add 'documentPath' API
  src/cpp/r/R/Api.R
  src/cpp/session/modules/RStudioAPI.cpp
  src/gwt/src/org/rstudio/studio/client/events/RStudioApiRequestEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/Workbench.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/events/GetEditorSelectionEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/events/SetEditorSelectionEvent.java
Labels: rstudioapi

#7836 add 'allowConsole' param
  src/cpp/r/R/Api.R
  src/gwt/src/org/rstudio/studio/client/events/RStudioApiRequestEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
Labels: rstudioapi

#7838 remove duplicate columns
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: workbench

#7848 Use inverted images rather than CSS to theme chunk icons
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputWidget.ui.xml
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/CollapseChunkIconDark_2x.png
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ExpandChunkIcon.png
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ExpandChunkIcon_2x.png
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/RemoveChunkIconDark_2x.png
Labels: visual markdown editing

#7858 Escape chunk name and code before passing to executeChunkCallback
  src/cpp/session/modules/rmarkdown/SessionRmdNotebook.cpp
Labels: rstudioapi

#7861 Reset active column after a document pop out
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/model/DocTabDragParams.java
Labels: source editor, workbench

#7873 Keep VCS context menu visible
  src/gwt/src/org/rstudio/core/client/widget/ThemedPopupPanel.java
  src/gwt/src/org/rstudio/core/client/widget/ToolbarPopupMenu.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/git/GitPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/svn/SVNPane.java
Labels: vcs

#7870 fix duplicate elementID on new file submenu
  src/gwt/src/org/rstudio/core/client/ElementIds.java
Labels: accessibility

#7881 Optional highlight around focused panel
  NEWS.md
  src/cpp/session/include/session/prefs/UserPrefValues.hpp
  src/cpp/session/prefs/UserPrefValues.cpp
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/core/client/layout/LogicalWindow.java
  src/gwt/src/org/rstudio/core/client/theme/MinimizedWindowFrame.java
  src/gwt/src/org/rstudio/core/client/theme/WindowFrame.java
  src/gwt/src/org/rstudio/core/client/theme/res/ThemeStyles.java
  src/gwt/src/org/rstudio/core/client/theme/res/themeStyles.css
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/AccessibilityPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: accessibility

#7884 load focus-visible polyfill in satellite windows
  src/gwt/src/org/rstudio/studio/client/common/satellite/Satellite.java
Labels: accessibility

#7813 allow for line-by-line execution of Python chunks
  src/cpp/.clang-format
  src/cpp/session/SessionModuleContext.cpp
  src/cpp/session/include/session/SessionModuleContext.hpp
  src/cpp/session/modules/SessionWorkbench.cpp
  src/cpp/session/modules/rmarkdown/NotebookAlternateEngines.cpp
  src/cpp/session/modules/rmarkdown/NotebookExec.cpp
  src/cpp/session/modules/rmarkdown/NotebookExec.hpp
  src/cpp/session/modules/rmarkdown/NotebookQueue.cpp
  src/gwt/src/org/rstudio/studio/client/application/events/EventBus.java
Labels: notebooks, python

#7895 Prevent exceptions when attempting to focus a pane without tabs
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: accessibility, workbench

#7896 handle more pipe styles in "execute current statement" heuristics
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/AceEditor.java
  src/gwt/test/test-multiline-expr.R
Labels: source editor

#7899 Update Zoom Source to include columns
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
Labels: workbench

#7903 Don't log warning when using speak text editor location command
  src/gwt/src/org/rstudio/studio/client/application/AriaLiveService.java
Labels: accessibility, bug

#7871 Copy code to temporary file during Source as Local Job
  src/cpp/session/modules/jobs/ScriptJob.cpp
Labels: encoding, jobs, windows

#7890 Enable code commands only when a code editor is focused
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/visualmode/VisualMode.java
Labels: visual markdown editing

#7910 Fix null reference in Find in Files pane
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindOutputPresenter.java
Labels: find in files

#7908 Restore keyboard focus after invoking main menu via shortcuts
  src/gwt/src/org/rstudio/core/client/command/BaseMenuBar.java
Labels: accessibility

#7915 Prevent excessive set_client_state calls
  src/gwt/src/org/rstudio/studio/client/workbench/ui/MainSplitPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: workbench

#7913 use 'git diff' rather than 'git show' when showing diff
  src/cpp/session/modules/SessionGit.cpp
Labels: vcs

#7927 allow 'getSourceEditorContext()', 'replaceRange()' to work within visual mode chunks
  src/gwt/src/org/rstudio/studio/client/rmarkdown/events/RmdChunkOutputFinishedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/Workbench.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/renderrmd/RenderRmdOutputTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/sourcecpp/SourceCppOutputTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/AceEditor.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/visualmode/VisualMode.java
Labels: rstudioapi, visual markdown editing

#7900 fix issues with completion insertion in high-latency environments
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/CompletionManagerBase.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/CompletionRequestContext.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/shell/assist/RCompletionManager.java
Labels: autocompletion

#7906 fix autocompletion of formals for piped-to S3 generics
  NEWS.md
  src/cpp/session/modules/SessionRCompletions.R
Labels: autocompletion

#7930 handle nested, braceless control flow statements
  src/gwt/acesupport/acemode/r_code_model.js
  src/gwt/test/autoindent_test_r.html
Labels: ace
