Repository rstudio/rstudio, pull requests merged in 2020-07, with the labels that each got.

#7240 use format method (when available) when formatting data viewer columns
  NEWS.md
  src/cpp/session/modules/SessionDataViewer.R
Labels: data viewer

#7257 tweak Python indentation rules + enable in R Markdown documents
  NEWS.md
  src/gwt/acesupport/acemode/python.js
  src/gwt/acesupport/acemode/rmarkdown.js
Labels: ace, python

#7281 fix issue with Ace '#tmp' state from tokenizer
  src/gwt/acesupport/acemode/r_code_model.js
  src/gwt/acesupport/acemode/utils.js
Labels: ace, rainbow parens

#7263 ensure chunk output from alternate engines is UTF-8
  src/cpp/r/RSexp.cpp
  src/cpp/r/include/r/RSexp.hpp
  src/cpp/r/session/RSearchPath.cpp
  src/cpp/session/SessionModuleContext.cpp
  src/cpp/session/modules/rmarkdown/NotebookAlternateEngines.cpp
  src/cpp/session/modules/rmarkdown/NotebookQueueUnit.cpp
Labels: r interface

#7282 Increase tolerance to notarization delays
  docker/jenkins/notarize-release.sh
Labels: builds, macos

#7284 Fix tab overflow selection
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: workbench

#7283 support R graphics engine version 13
  src/cpp/r/include/r/session/RSession.hpp
  src/cpp/r/session/graphics/RGraphicsDevDesc.cpp
  src/cpp/r/session/graphics/RGraphicsDevDesc.hpp
  src/cpp/r/session/graphics/RGraphicsDevice.cpp
  src/cpp/r/session/graphics/RGraphicsUtils.cpp
  src/cpp/session/include/session/SessionOptions.gen.hpp
Labels: plots, r interface

#7252 Assign source columns to command toolbar buttons
  src/gwt/src/org/rstudio/core/client/command/AppCommand.java
  src/gwt/src/org/rstudio/core/client/command/AppMenuItem.java
  src/gwt/src/org/rstudio/core/client/command/EnabledChangedEvent.java
  src/gwt/src/org/rstudio/core/client/command/EnabledChangedHandler.java
  src/gwt/src/org/rstudio/core/client/command/VisibleChangedEvent.java
  src/gwt/src/org/rstudio/core/client/command/VisibleChangedHandler.java
  src/gwt/src/org/rstudio/studio/client/RStudioGinjector.java
  src/gwt/src/org/rstudio/studio/client/rsconnect/ui/RSConnectPublishButton.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/MainSplitPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/connections/ui/ConnectionsPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceAppCommand.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourcePane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceWindowManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/EditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/EditingTargetSource.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/EditingTargetToolbar.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/codebrowser/CodeBrowserEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/codebrowser/CodeBrowserEditingTargetWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/data/DataEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/data/DataEditingTargetWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/explorer/ObjectExplorerEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/explorer/view/ObjectExplorerEditingTargetWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/profiler/ProfilerEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/profiler/ProfilerEditingTargetWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTargetWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/urlcontent/UrlContentEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/urlcontent/UrlContentEditingTargetWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/viewer/ViewerPresenter.java
Labels: source editor, workbench

#7267 Parallelize Windows Builds
  docker/jenkins/Dockerfile.windows
  package/win32/make-install-win32.bat
  package/win32/make-package.bat
Labels: builds, developer

#7292 Fix consistency of context-lines dropdown plurals
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/git/dialog/GitReviewPanel.ui.xml
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/svn/dialog/SVNReviewPanel.ui.xml
Labels: bug, vcs

#7305 Assign overflow source tabs to correct columns
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/DocsMenu.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourcePane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/TabOverflowPopupPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/events/DocTabsChangedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/events/DocTabsChangedHandler.java
Labels: workbench

#7304 Fix toolbar buttons being set to visible when they shouldn't be
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceAppCommand.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/events/PopoutDocEvent.java
Labels: workbench

#7322 Fix up toolbar buttons and commands
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceAppCommand.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTargetWidget.java
Labels: workbench

#7323 Fix VirtualConsole handling of specific line rewriting boundary case
  src/gwt/src/org/rstudio/core/client/VirtualConsole.java
  src/gwt/test/org/rstudio/core/client/ConsoleOutputWriterTests.java
Labels: console

#7341 Pop out navigated URL if known
  NEWS.md
  src/gwt/src/org/rstudio/core/client/dom/IFrameElementEx.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/viewer/ViewerPane.java
Labels: viewer pane

#7351 Add user option to turn off focus rectangles via FocusVisible polyfill
  NEWS.md
  src/cpp/session/include/session/prefs/UserPrefValues.hpp
  src/cpp/session/prefs/UserPrefValues.cpp
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/gwt.iml
  src/gwt/src/org/rstudio/studio/client/RStudioGinjector.java
  src/gwt/src/org/rstudio/studio/client/workbench/Workbench.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/AccessibilityPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/polyfill/FocusVisiblePolyfill.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/polyfill/FocusVisibleResources.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/polyfill/css/focus-visible.css
  src/gwt/src/org/rstudio/studio/client/workbench/ui/polyfill/js/focus-visible.js
  src/gwt/src/org/rstudio/studio/client/workbench/ui/polyfill/js/focus-visible.min.js
  src/gwt/src/org/rstudio/studio/client/workbench/ui/polyfill/js/focus-visible.min.js.map
  src/gwt/www/index.htm
Labels: accessibility

#7356 Windows docker builds
  Jenkinsfile
  Jenkinsfile.windows
  dependencies/windows/install-soci/install-soci.R
  dependencies/windows/tools.R
  docker/jenkins/Dockerfile.windows
Labels: builds

#7361 Change focus rectangle option description to "Always show focus outlines"
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/AccessibilityPreferencesPane.java
Labels: accessibility

#7366 further refine formatting of integer64 columns
  src/cpp/session/modules/SessionDataViewer.R
Labels: data viewer

#7374 resolve shortcuts in file dialogs on Windows
  src/cpp/desktop/DesktopGwtCallback.cpp
Labels: desktop, windows

#7373 suppress warnings during evaluation of code in r parser
  src/cpp/r/RExec.cpp
  src/cpp/r/include/r/RExec.hpp
  src/cpp/session/modules/SessionRParser.cpp
Labels: diagnostics

#7315 properly open ragg graphics device in notebooks
  src/cpp/session/modules/NotebookPlots.R
Labels: plots

#7370 avoid re-encoding character inputs for environment pane display
  src/cpp/desktop/CMakeLists.txt
  src/cpp/desktop/launch.vs.json.in
  src/cpp/session/modules/SessionEnvironment.R
Labels: environment pane

#7380 display hidden line widgets further off-screen
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/ace-uncompressed.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ace/ace.js
Labels: notebooks

#7377 Don't sort dataviewer column on filter UI click
  src/cpp/session/resources/grid/datatables/js/jquery.dataTables.js
  src/cpp/session/resources/grid/datatables/js/jquery.dataTables.min.js
Labels: data viewer

#7378 avoid loading rmarkdown, packrat packages when unnecessary
  src/cpp/session/modules/SessionPackrat.R
  src/cpp/session/modules/SessionTutorial.R
Labels: r packages, tutorials

#7393 utility scripts for cleaning up RStudio state (desktop and server)
  scripts/README.md
  scripts/clean-rstudio
  scripts/clean-rstudio.bat
Labels: developer

#7397 Fix Javascript exception on first-run related to obsolete addins_mru
  src/cpp/session/modules/SessionLists.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/WorkbenchListManager.java
Labels: developer

#7396 scroll cursor into view on SetSelectionRanges event
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/AceEditor.java
Labels: source editor

#7399 Include Tutorial tab in default pane schema, autocorrect incorrect order
  NEWS-1.3.md
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneConfig.java
Labels: tutorials, workbench

#7410 Add shortcut to create new source column
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PaneLayoutPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/MainSplitPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: workbench

#7415 Fix move console left/right command
  src/gwt/src/org/rstudio/core/client/events/UpdateTabPanelsEvent.java
  src/gwt/src/org/rstudio/core/client/layout/DualWindowLayoutPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: workbench

#7409 better handle certain usages of pipe operators
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/AceEditor.java
  src/gwt/test/test-multiline-expr.R
Labels: source editor

#7404 allow expansion of some Python objects in Environment pane
  .gitignore
  src/cpp/session/modules/SessionDataViewer.R
  src/cpp/session/modules/SessionEnvironment.R
  src/cpp/session/modules/SessionReticulate.R
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/EnvironmentPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/EnvironmentObjectList.css
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/EnvironmentObjectList.java
Labels: environment pane, python

#7433 Prevent crash on startup
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: source editor

#7422 Fix issues with source navigation buttons
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceAppCommand.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/EditingTargetToolbar.java
Labels: source editor

#7421 Check Window ID in onNewDocumentWithCode
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
Labels: rstudioapi

#7408 Use F6 to Navigate Between Panels
  NEWS.md
  src/gwt/src/org/rstudio/core/client/dom/DomUtils.java
  src/gwt/src/org/rstudio/core/client/layout/LogicalWindow.java
  src/gwt/src/org/rstudio/core/client/theme/WindowFrame.java
  src/gwt/src/org/rstudio/core/client/widget/ModalDialogBase.java
  src/gwt/src/org/rstudio/studio/client/workbench/WorkbenchView.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/DelayLoadTabShim.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/DelayLoadWorkbenchTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/WorkbenchPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/WorkbenchTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/BasePresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/buildtools/BuildPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/ConsolePane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/Help.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/HelpPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/history/History.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/history/view/HistoryPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobsDisplay.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobsDisplayImpl.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobsPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobsPaneOperations.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/JobsPaneWidgets.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/LauncherJobsPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/jobs/view/LauncherJobsPaneWidgets.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/markers/MarkersOutputPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/sourcecpp/SourceCppOutputPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/presentation/PresentationPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/TerminalPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/VCSPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/viewer/ViewerPane.java
Labels: accessibility, keyboard shortcuts, workbench

#7447 support tokenization of raw R strings
  src/gwt/acesupport/acemode/r_highlight_rules.js
Labels: ace

#7445 Use new plumber icon in New Plumber API dialog
  src/gwt/src/org/rstudio/studio/client/projects/ui/newproject/NewProjectResources.java
  src/gwt/src/org/rstudio/studio/client/projects/ui/newproject/plumberAppIconLarge_2x.png
  src/gwt/src/org/rstudio/studio/client/projects/ui/newproject/plumberAppIcon_2x.png
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/NewPlumberAPI.java
Labels: plumber

#7272 source history navigation using mouse forward/back buttons
  NEWS.md
  src/cpp/desktop/DesktopWebView.cpp
  src/cpp/desktop/DesktopWebView.hpp
  src/gwt/src/org/rstudio/studio/client/application/DesktopHooks.java
  src/gwt/src/org/rstudio/studio/client/application/events/MouseNavigateSourceHistoryEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/Source.java
Labels: source editor, source navigation

#7452 cleanup whitespace on blank lines in some files I was looking at
  src/gwt/src/org/rstudio/core/client/cellview/AriaLabeledCheckboxCell.java
  src/gwt/src/org/rstudio/core/client/cellview/ColumnSortInfo.java
  src/gwt/src/org/rstudio/core/client/cellview/ImageButtonColumn.java
  src/gwt/src/org/rstudio/core/client/cellview/LabeledBoolean.java
  src/gwt/src/org/rstudio/core/client/cellview/LinkColumn.java
  src/gwt/src/org/rstudio/core/client/command/AddinCommandBinding.java
  src/gwt/src/org/rstudio/core/client/command/AppCommand.java
  src/gwt/src/org/rstudio/core/client/command/AppCommandBinding.java
  src/gwt/src/org/rstudio/core/client/command/AppMenuBar.java
  src/gwt/src/org/rstudio/core/client/command/AppMenuItem.java
  src/gwt/src/org/rstudio/core/client/command/ApplicationCommandManager.java
  src/gwt/src/org/rstudio/core/client/command/CommandBundle.java
  src/gwt/src/org/rstudio/core/client/command/EditorCommandManager.java
  src/gwt/src/org/rstudio/core/client/command/KeyCombination.java
  src/gwt/src/org/rstudio/core/client/command/KeyMap.java
  src/gwt/src/org/rstudio/core/client/command/KeySequence.java
  src/gwt/src/org/rstudio/core/client/command/KeyboardHelper.java
  src/gwt/src/org/rstudio/core/client/command/KeyboardShortcut.java
  src/gwt/src/org/rstudio/core/client/command/ShortcutInfo.java
  src/gwt/src/org/rstudio/core/client/command/ShortcutViewer.java
  src/gwt/src/org/rstudio/core/client/command/SimpleImageResourceProvider.java
  src/gwt/src/org/rstudio/core/client/command/UserCommandManager.java
  src/gwt/src/org/rstudio/core/client/command/impl/DesktopMenuCallback.java
  src/gwt/src/org/rstudio/core/client/command/impl/WebMenuCallback.java
  src/gwt/src/org/rstudio/core/client/container/SafeMap.java
  src/gwt/src/org/rstudio/core/client/dom/BrowserEventWorkarounds.java
  src/gwt/src/org/rstudio/core/client/dom/DOMRect.java
  src/gwt/src/org/rstudio/core/client/dom/DocumentEx.java
  src/gwt/src/org/rstudio/core/client/dom/DomMetrics.java
  src/gwt/src/org/rstudio/core/client/dom/DomUtils.java
  src/gwt/src/org/rstudio/core/client/dom/ElementEx.java
  src/gwt/src/org/rstudio/core/client/dom/IFrameElementEx.java
  src/gwt/src/org/rstudio/core/client/dom/ImageElementEx.java
  src/gwt/src/org/rstudio/core/client/dom/MutationObserver.java
  src/gwt/src/org/rstudio/core/client/dom/NativeScreen.java
  src/gwt/src/org/rstudio/core/client/dom/NativeWindow.java
  src/gwt/src/org/rstudio/core/client/dom/PostMessageEvent.java
  src/gwt/src/org/rstudio/core/client/dom/WindowCloseMonitor.java
  src/gwt/src/org/rstudio/core/client/dom/WindowEx.java
  src/gwt/src/org/rstudio/core/client/dom/impl/DomUtilsImpl.java
  src/gwt/src/org/rstudio/core/client/dom/impl/Range.java
  src/gwt/src/org/rstudio/core/client/dom/impl/Selection.java
  src/gwt/src/org/rstudio/core/client/events/WindowEnsureVisibleEvent.java
  src/gwt/src/org/rstudio/core/client/files/filedialog/FileDialog.java
  src/gwt/src/org/rstudio/core/client/files/filedialog/events/OpenFileDialogEvent.java
Labels: developer

#7454 delete three unused classes
  src/gwt/src/org/rstudio/core/client/ValueSink.java
  src/gwt/src/org/rstudio/core/client/command/UserCommandManager.java
  src/gwt/src/org/rstudio/core/client/dom/NativeEventProperty.java
Labels: developer

#7432 tweak reporting of autosave errors
  src/cpp/session/modules/SessionSource.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/events/SaveFailedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/model/DocUpdateSentinel.java
Labels: autosave, session internals

#7450 Add a period at the end of the sentence
  README.md
Labels: documentation

#7458 Fix source indentation, use StringUtil.equals instead of ==
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/TerminalPane.java
Labels: developer

#7461 strip sourceMappingURL from xterm.js and focus-visible.js to suppress warnings
  src/gwt/src/org/rstudio/studio/client/workbench/ui/polyfill/js/focus-visible.min.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/fit.js
  src/gwt/src/org/rstudio/studio/client/workbench/views/terminal/xterm/xterm.js
  src/gwt/tools/build-focus-visible
  src/gwt/tools/build-xterm
Labels: developer

#7449 trim common indent in indented chunks
  src/cpp/session/modules/rmarkdown/NotebookAlternateEngines.R
Labels: python

#7448 support saving plots with agg
  src/cpp/r/session/graphics/RGraphicsPlotManager.cpp
  src/cpp/r/session/graphics/RGraphicsUtils.cpp
  src/gwt/src/org/rstudio/studio/client/workbench/exportplot/ExportPlotSizeEditor.java
Labels: plots

#7467 switch plots, help, viewer events to single-file format
  src/gwt/src/org/rstudio/studio/client/workbench/views/BusyPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/Help.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/HelpPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/HelpTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/events/ActivateHelpEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/events/ActivateHelpHandler.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/events/HasHelpNavigateHandlers.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/events/HelpNavigateEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/events/HelpNavigateHandler.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/events/ShowHelpEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/help/events/ShowHelpHandler.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/Locator.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/LocatorPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/Plots.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/PlotsPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/PlotsSurface.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/PlotsTab.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/events/LocatorEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/events/LocatorHandler.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/events/PlotsChangedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/events/PlotsChangedHandler.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/plots/events/PlotsZoomSizeChangedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/viewer/ViewerPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/viewer/ViewerPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/viewer/ViewerTab.java
Labels: developer

#7463 Add command focusPreviousPane
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PaneLayoutPreferencesPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: workbench

#7470 update static html keyboard shortcut help
  src/gwt/www/docs/keyboard.htm
Labels: accessibility

#7469 Implement focus() for missing editing targets
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/profiler/ProfilerEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/urlcontent/UrlContentEditingTarget.java
Labels: workbench

#7468 Delay rendering of Ace instances in visual mode
  src/gwt/panmirror/src/editor/src/editor/editor-theme.ts
  src/gwt/panmirror/src/editor/src/optional/ace/ace.css
  src/gwt/panmirror/src/editor/src/optional/ace/ace.ts
  src/gwt/panmirror/src/editor/src/optional/ace/ace_placeholder.ts
  src/gwt/panmirror/src/editor/src/optional/ace/render_queue.ts
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/visualmode/VisualModeChunks.java
Labels: visual markdown editing

#7472 Don't propagate visible/enabled command state from satellites to main window commands
  NEWS.md
  src/gwt/src/org/rstudio/core/client/command/AppCommand.java
  src/gwt/src/org/rstudio/studio/client/RStudio.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
Labels: workbench

#7476 Prevent access to invisible columns
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: source editor

#7483 Do not reset active column before start up
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: source editor

#7484 Add missing menu access keys
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
Labels: accessibility

#7460 propagate repos when running renv::init()
  NEWS.md
  rstudio.Rproj
  src/cpp/session/modules/SessionRUtil.R
  src/cpp/session/modules/SessionRenv.R
  src/cpp/tests/testthat/test-renv.R
Labels: r interface, renv

#7494 set defaults in JSNI accessors for prefs
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserStateAccessor.java
  src/gwt/tools/generate-prefs.R
Labels: user preferences

#7485 Save accurate splitter positions
  src/gwt/src/org/rstudio/studio/client/workbench/ui/MainSplitPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumn.java
Labels: workbench

#7501 Don't log missing user as "permission denied"
  src/cpp/shared_core/system/User.cpp
Labels: shared_core, support

#7504 Standardize XDG log file locations on desktop
  src/cpp/core/LogOptions.cpp
  src/cpp/desktop/DesktopUtils.cpp
  src/cpp/diagnostics/DiagnosticsMain.cpp
Labels: logging

#7434 provide hook for simulating RPC delays
  src/cpp/session/SessionModuleContext.cpp
  src/cpp/session/SessionRpc.cpp
  src/cpp/session/SessionRpc.hpp
Labels: debugging
