Repository rstudio/rstudio, pull requests merged in 2021-01, with the labels that each got.

#8676 Add selectors to find in files for selenium tests
  src/gwt/src/org/rstudio/core/client/ClassIds.java
  src/gwt/src/org/rstudio/core/client/widget/FastSelectTable.java
  src/gwt/src/org/rstudio/core/client/widget/LeftRightToggleButton.java
  src/gwt/src/org/rstudio/studio/client/common/sourcemarkers/SourceMarkerList.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/history/view/HistoryTable.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindOutputPane.java
Labels: automation, find in files

#8691 fix running rsession unit tests on macos
  src/cpp/rstudio-tests.in
Labels: automation, developer

#8686 detect newer plumber tags
  NEWS-1.4-juliet-rose.md
  src/cpp/session/modules/plumber/SessionPlumber.cpp
Labels: plumber

#8737 Add Copy Path to editor tab context menu
  NEWS-1.4-juliet-rose.md
  src/gwt/src/org/rstudio/core/client/command/EditorCommandManager.java
  src/gwt/src/org/rstudio/core/client/dom/DomUtils.java
  src/gwt/src/org/rstudio/core/client/theme/DocTabLayoutPanel.java
  src/gwt/src/org/rstudio/studio/client/common/filetypes/events/CopySourcePathEvent.java
  src/gwt/src/org/rstudio/studio/client/server/remote/RemoteServer.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/files/model/FilesServerOperations.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
Labels: source editor

#8736 properly handle Python null pointers when building Environment pane
  NEWS-1.4-juliet-rose.md
  src/cpp/session/modules/SessionRParser.cpp
  src/cpp/session/modules/SessionReticulate.R
Labels: python

#8741 fix osx dependency script to correctly install prebuilt crashpad
  dependencies/common/install-common
Labels: developer

#8747 Fix incorrect shortcuts for some commands in the Command Palette
  NEWS-1.4-juliet-rose.md
  src/gwt/src/org/rstudio/core/client/command/AppCommandBinding.java
  src/gwt/src/org/rstudio/core/client/command/KeyCommandBinding.java
  src/gwt/src/org/rstudio/core/client/command/KeyMap.java
  src/gwt/src/org/rstudio/core/client/command/ShortcutInfo.java
  src/gwt/src/org/rstudio/studio/client/palette/AppCommandPaletteSource.java
Labels: command palette

#8728 fix issue with rendering .tex documents with tinytex on Windows
  NEWS-1.4-juliet-rose.md
  src/cpp/session/modules/tex/SessionCompilePdf.cpp
Labels: sweave

#8748 use Python-compatible unicode escapes
  src/cpp/core/StringUtils.cpp
Labels: python

#8768 point Qt download script at a mirror
  dependencies/common/install-qt.sh
Labels: builds, developer

#8767 Detect active version of Python when publishing
  NEWS.md
  src/cpp/session/modules/SessionRSConnect.R
  src/cpp/session/modules/SessionRSConnect.cpp
  src/cpp/tests/testthat/test-rsconnect.R
Labels: publishing, python

#8804 remove old Makevars file generated by RStudio
  src/cpp/session/modules/build/SessionBuild.cpp
Labels: macos

#8802 fixups for Python environments on Windows
  src/cpp/session/modules/SessionPythonEnvironments.R
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/python/PythonInterpreterSelectionDialog.java
Labels: python

#8806 support lookup of pyenv python; filter some conda envs
  src/cpp/session/modules/SessionPythonEnvironments.R
Labels: python

#8818 add unique IDs to workbench tab context menus and commands
  src/gwt/src/org/rstudio/core/client/ElementIds.java
  src/gwt/src/org/rstudio/core/client/theme/DocTabLayoutPanel.java
  src/gwt/src/org/rstudio/core/client/widget/ToolbarPopupMenu.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/WorkbenchTabPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/git/GitPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/vcs/svn/SVNPane.java
Labels: automation

#8823 be more permissive with whitespace for braces / parens
  src/cpp/session/modules/SessionDiagnosticsTests.cpp
  src/cpp/session/modules/SessionRParser.cpp
Labels: diagnostics

#8830 properly access cursor column attribute
  NEWS.md
  src/gwt/acesupport/acemode/c_cpp_style_behaviour.js
Labels: c++

#8828 Minimize panes without tabs and show panes with newly added tabs
  NEWS.md
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: workbench

#8841 avoid rearranging console input when fixing newlines
  NEWS.md
  src/cpp/session/SessionConsoleInput.cpp
Labels: console

#8836 Add word option to Find in Files
  NEWS.md
  src/gwt/src/org/rstudio/core/client/ElementIds.java
  src/gwt/src/org/rstudio/core/client/widget/FormCheckBox.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindInFilesDialog.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindInFilesDialog.ui.xml
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindOutputPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/FindOutputPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/output/find/model/FindInFilesState.java
Labels: find in files
