Repository rstudio/rstudio, pull requests merged in 2021-10, with the labels that each got.

#9906 set defaults for java Xmx and Xss in build.xml
  src/gwt/build.xml
Labels: developer

#9957 Support building Mac Electron Desktop via make-package
  CMakeCompiler.txt
  CMakeGlobals.txt
  dependencies/common/install-npm-dependencies
  dependencies/tools/rstudio-tools.cmd
  dependencies/tools/rstudio-tools.sh
  dependencies/windows/install-dependencies.cmd
  package/linux/make-electron-package
  package/linux/make-package
  package/osx/CMakeLists.txt
  package/osx/make-package
  src/CMakeLists.txt
  src/cpp/CMakeLists.txt
  src/gwt/build.xml
  src/node/CMakeLists.txt
  src/node/desktop/CMakeLists.txt
  src/node/desktop/forge.config.js
  src/node/desktop/mac-terminal.in
  src/node/desktop/package.json
  src/node/desktop/scripts/clean.ts
  src/node/desktop/scripts/import-resources.ts
  src/node/desktop/scripts/script-tools.ts
  src/node/desktop/tsconfig.json
  src/node/desktop/yarn.lock
Labels: electron

#9973 Persist modified python_project_environment_automatic_activate setting
  NEWS-2021.09.1-ghost-orchid.md
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/views/PythonPreferencesPaneBase.java
Labels: python

#9956 File pane toolbar button titles react to pane width to remain accessible
  NEWS.md
  src/gwt/src/org/rstudio/studio/client/workbench/views/files/ui/FileCommandToolbar.java
Labels: bug, accessibility, files pane

#9985 Implement scroll workaround to RMD files using iframes to show content
  NEWS.md
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputFrame.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ChunkOutputStream.java
Labels: bug, accessibility, r markdown
