Repository rstudio/rstudio, pull requests merged in 2021-02, with the labels that each got.

#8869 option to enable legacy tab key behavior in editor's Find panel
  NEWS.md
  src/cpp/session/include/session/prefs/UserPrefValues.hpp
  src/cpp/session/prefs/UserPrefValues.cpp
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserStateAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/findreplace/FindReplaceBar.java
Labels: accessibility

#8875 fix bugs when changes applied to Pane Layout
  src/gwt/src/org/rstudio/studio/client/workbench/ui/MainSplitPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneConfig.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
Labels: workbench

#8877 Allow never-executed chunks to be queued for execution
  NEWS.md
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/rmd/NotebookQueueState.java
Labels: notebooks

#8878 add unique element IDs to some checkboxes
  src/gwt/src/org/rstudio/core/client/ElementIds.java
  src/gwt/src/org/rstudio/core/client/files/filedialog/OpenProjectDialog.java
  src/gwt/src/org/rstudio/core/client/widget/CheckBoxHiddenLabel.java
  src/gwt/src/org/rstudio/core/client/widget/FormCheckBox.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/files/ui/FilePathToolbar.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/ui/ChooseEncodingDialog.java
Labels: automation

#8868 Show memory usage details in Environment Pane
  NEWS.md
  src/cpp/core/CMakeLists.txt
  src/cpp/core/include/core/system/Resources.hpp
  src/cpp/core/system/EnvironmentTests.cpp
  src/cpp/core/system/LinuxResources.cpp
  src/cpp/core/system/MacResources.cpp
  src/cpp/core/system/Win32Resources.cpp
  src/cpp/session/CMakeLists.txt
  src/cpp/session/SessionClientEvent.cpp
  src/cpp/session/SessionClientInit.cpp
  src/cpp/session/SessionMain.cpp
  src/cpp/session/include/session/prefs/UserPrefValues.hpp
  src/cpp/session/include/session/worker_safe/session/SessionClientEvent.hpp
  src/cpp/session/modules/SessionSystemResources.R
  src/cpp/session/modules/SessionSystemResources.cpp
  src/cpp/session/modules/SessionSystemResources.hpp
  src/cpp/session/prefs/UserPrefValues.cpp
  src/cpp/session/resources/schema/user-prefs-schema.json
  src/cpp/tests/testthat/test-environment.R
  src/gwt/src/org/rstudio/core/client/ElementIds.java
  src/gwt/src/org/rstudio/core/client/widget/MiniPieWidget.java
  src/gwt/src/org/rstudio/studio/client/server/remote/ClientEvent.java
  src/gwt/src/org/rstudio/studio/client/server/remote/ClientEventDispatcher.java
  src/gwt/src/org/rstudio/studio/client/server/remote/RemoteServer.java
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.cmd.xml
  src/gwt/src/org/rstudio/studio/client/workbench/commands/Commands.java
  src/gwt/src/org/rstudio/studio/client/workbench/model/SessionInfo.java
  src/gwt/src/org/rstudio/studio/client/workbench/prefs/model/UserPrefsAccessor.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/EnvironmentPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/EnvironmentPresenter.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/events/MemoryUsageChangedEvent.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/model/EnvironmentServerOperations.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/model/MemoryStat.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/model/MemoryUsage.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/model/MemoryUsageReport.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/model/RMemoryUsage.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/MemUsageWidget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/MemoryUsagePieChart.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/MemoryUsageSummary.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/MemoryUsageSummary.ui.xml
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/MemoryUsageSummaryDialog.java
Labels: environment pane

#8897 fix issue with "close all others" context menu sometimes closing everything
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/SourceColumnManager.java
Labels: source columns

#8880 Better autoscrolling with Virtualized Console
  src/gwt/src/org/rstudio/core/client/VirtualConsole.java
  src/gwt/src/org/rstudio/core/client/virtualscroller/VirtualScrollerManager.java
  src/gwt/src/org/rstudio/core/client/virtualscroller/VirtualScrollerNative.java
  src/gwt/src/org/rstudio/core/client/virtualscroller/virtualscroller.js
Labels: console

#8911 Use active Python version when knitting
  NEWS.md
  src/cpp/session/modules/SessionRSConnect.R
  src/cpp/session/modules/SessionReticulate.R
  src/cpp/session/modules/rmarkdown/SessionRMarkdown.cpp
  src/cpp/tests/testthat/test-reticulate.R
  src/cpp/tests/testthat/test-rsconnect.R
Labels: python

#8910 avoid continuing comment after Markdown header
  NEWS.md
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
Labels: ace

#8936 Emit addin path where error occurred
  NEWS.md
  src/cpp/session/modules/SessionRAddins.cpp
Labels: addins

#8942 Baseline align language selector
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/EnvironmentPane.java
Labels: environment pane, python

#8931 Account for nested code chunks when scrolling visual editor
  NEWS.md
  src/gwt/panmirror/src/editor/src/optional/ace/ace.ts
Labels: visual markdown editing

#8913 provide APIs for accessing different dictionary paths
  src/cpp/r/R/Api.R
  src/cpp/session/modules/SessionSpelling.cpp
  src/cpp/session/modules/SessionSpelling.hpp
Labels: spellcheck

#8967 Remove superfluous dirs from INSTALL
  INSTALL
Labels: documentation

#8943 display interpreter version in console title
  src/cpp/session/SessionClientInit.cpp
  src/cpp/session/modules/SessionReticulate.R
  src/gwt/src/org/rstudio/core/client/theme/PrimaryWindowFrame.java
  src/gwt/src/org/rstudio/core/client/theme/res/ThemeStyles.java
  src/gwt/src/org/rstudio/core/client/theme/res/themeStyles.css
  src/gwt/src/org/rstudio/studio/client/RStudioGinjector.java
  src/gwt/src/org/rstudio/studio/client/common/icons/StandardIcons.java
  src/gwt/src/org/rstudio/studio/client/common/icons/python_logo.svg
  src/gwt/src/org/rstudio/studio/client/common/icons/r_logo.svg
  src/gwt/src/org/rstudio/studio/client/workbench/model/SessionInfo.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/ConsoleTabPanel.java
  src/gwt/src/org/rstudio/studio/client/workbench/ui/PaneManager.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/ConsoleInterpreterVersion.css
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/ConsoleInterpreterVersion.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/console/ConsolePane.java
Labels: python

#8964 Graceful resize for Environment pane toolbar
  src/gwt/src/org/rstudio/core/client/theme/res/themeStyles.css
  src/gwt/src/org/rstudio/core/client/widget/Toolbar.java
  src/gwt/src/org/rstudio/core/client/widget/ToolbarButton.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/EnvironmentPane.java
Labels: environment pane

#8978 Include dual cell coding fonts on Linux
  NEWS.md
  src/cpp/desktop/DesktopInfo.cpp
Labels: desktop integration, linux

#8999 Check for JDK8 when building GWT
  src/gwt/tools/build-gwt
Labels: developer

#9000 Add rstudioapi support for command callbacks
  NEWS.md
  src/cpp/r/R/Api.R
  src/cpp/session/SessionClientEvent.cpp
  src/cpp/session/SessionModuleContext.cpp
  src/cpp/session/include/session/worker_safe/session/SessionClientEvent.hpp
  src/cpp/tests/testthat/test-api.R
  src/gwt/src/org/rstudio/core/client/command/ApplicationCommandManager.java
  src/gwt/src/org/rstudio/core/client/command/CommandCallbacksChangedEvent.java
  src/gwt/src/org/rstudio/studio/client/common/rstudioapi/model/RStudioAPIServerOperations.java
  src/gwt/src/org/rstudio/studio/client/server/remote/ClientEvent.java
  src/gwt/src/org/rstudio/studio/client/server/remote/ClientEventDispatcher.java
  src/gwt/src/org/rstudio/studio/client/server/remote/RemoteServer.java
Labels: rstudioapi

#9009 Use native hand cursor on Linux
  NEWS.md
  src/gwt/src/org/rstudio/core/client/theme/res/handCursor.png
  src/gwt/src/org/rstudio/core/client/theme/res/handCursor_2x.png
  src/gwt/src/org/rstudio/core/client/theme/res/themeStyles.css
Labels: desktop integration, linux

#9023 add automation ids for parts of the environment pane
  src/gwt/src/org/rstudio/core/client/ClassIds.java
  src/gwt/src/org/rstudio/core/client/ElementIds.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/EnvironmentPane.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/EnvironmentObjectList.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/EnvironmentObjects.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/environment/view/MemUsageWidget.java
Labels: automation

#9022 Run tests with blank prefs/state
  src/cpp/rstudio-tests.in
Labels: automation

#9029 Implement Go to Next Chunk / Go to Previous Chunk in visual editor
  NEWS.md
  src/gwt/panmirror/src/editor/src/api/command.ts
  src/gwt/panmirror/src/editor/src/behaviors/outline.ts
  src/gwt/src/org/rstudio/studio/client/panmirror/command/PanmirrorCommands.java
  src/gwt/src/org/rstudio/studio/client/panmirror/command/PanmirrorToolbarCommands.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/TextEditingTarget.java
  src/gwt/src/org/rstudio/studio/client/workbench/views/source/editors/text/visualmode/VisualMode.java
Labels: visual markdown editing

#9027 VirtualScroller bugfix: truncation indication, ConsoleError interactivity
  src/gwt/src/org/rstudio/core/client/virtualscroller/virtualscroller.js
  src/gwt/src/org/rstudio/studio/client/common/debugging/ui/ConsoleError.java
  src/gwt/src/org/rstudio/studio/client/common/debugging/ui/ConsoleError.ui.xml
Labels: console
